.Header,#main,#home
{	
	background-color:black;
	font-family:Arial black;
	font-size: 100px;
	padding: 60px;
	color: red;
	text-align: center;
	margin: 0;
}
.Nav,#nav
{
	margin: 0;
	background-color: teal;
}
.Nav a
{
	text-decoration: none;
	font-weight: bold;
	color: red;
	font-family: Arial;
	padding: 5px;
	font-size:18px; 
	border-radius: 10px;

}
.Nav a:hover
{
	background-color: red;
	color: pink;
	cursor: pointer;
}
.dropdown
{
	position: relative;
	display: inline-block;
}
.dropbtn
{
	font-size: 18px;
	border: none;
	outline: none;
	color: white;
	padding: 20px;
	background-color: teal;
	font-family: arial;
	font-weight: bold;
	border-radius: 24px;
	cursor: pointer;

}
 .dropbtn:hover
{
	font-size: 18px;
	background-color:white;
	color: teal;
	font-family: Arial;
	font-weight: bold;
}

.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #D3D3D3;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a
{
	font-family: Arial;
	display: block;
	float: left;
    font-weight: bold;
	font-size: 15px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
}
.dropdown-content a:hover
{
	background-color: black;
	color: white;
}
.dropdown:hover .dropdown-content
{
	display: block;
}
.upcoming
{
	background-color: white;
	color: black;
	width: 100%;
	font-size: 10px;
}
.upcoming:hover
{
	
}
.row:after
{
	margin: 0;
	clear: both;
	display: table;
	content: "";
}
.col1
{
	margin: 0;
	margin-top: 10px;
	float: left;
	width: 74%;
	background-color: white;
	padding-bottom: 20px;	
}
.card,#char1,#char2,#char,#up
{
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 5px;
	color: black;
	font-family: times new roman;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	
	background-color: darkorange;
}
.col2
{
	margin: 0;
	float: right;
	width: 25%;
	margin-top: 10px;
	background-color: white;	

}
#name:hover
{
background-color: red;
color: white;
border-radius: 15px;
cursor: pointer;
}
.footer
{
	margin: 0;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 20px;
}

.box
{
	transform: translate(200%,30%);
	
	position: absolute;
	text-align: center;
	
	width: 300px;
	color: white;
	
}

.box input[type="text"],.box input[type="password"]
{
	border: 0;
	background:none;
	border-radius: 25px ;
	border: 2px solid black;
	margin: 20px ;
	text-align: center;
	padding: 14px 16px;
	width: 200px;
	color: white;
	transition: 0.25s;
	outline: none;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
	width: 300px;
	border-color: white;
	border-radius: 25px;
	outline: none;
}
.box input[type="submit"]
{
	border: 0;
	background:none;
	border-radius: 25px ;
	border: 2px solid black;
	margin: 20px ;
	margin-left: 10px;
	text-align: center;
	padding: 14px 16px;
	color: white;
	transition: 0.25s;
	font-size: 20px;
	font-weight: bold;
}
.box input[type="submit"]:hover
{
	border-color: white;	
}

::-webkit-input-placeholder /*COLOR OF PLACEHOLDER*/
{
	color: orange;
	font-size: 30px;
}
